<!-- <div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Heat Map</h4>
            </div>
            <div class="card-content">
                <div class="card-body mt-2">
                </div>
            </div>
        </div>
    </div>
</div> -->
<agm-map 
    draggableCursor="default" 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [scrollwheel]="scroll"
    (mapClick)="placeMarker($event,'pick')"
    (mapReady)="onMapLoad($event)">
</agm-map>